#footer-container {
    background: #dbc997;
    padding-bottom: 90px;
    padding-top: 90px;
    position: relative;

    &:before {
        background: #dbc997;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        right: 100%;
        top: 0;
        width: 6500px;
    }

    .footer-content-container {
        span, a {
            color: #ffffff;
            font-size: 14px;
        }
    }

    .social-media {
        display: block;
        list-style: none;
        margin: 15px 0;
        position: relative;

        li {
            display: inline;

            a {
                background: #ffffff;
                border-radius: 100%;
                color: #dbc997;
                display: inline-block;
                height: 48px;
                margin: 0 10px;
                padding: 11px;
                transition-duration: .3s;
                width: 48px;

                &:hover {
                    background: rgba(0, 0, 0, .5);
                    color: #dbc997;
                    transition-duration: .3s;
                }

                .fa {
                    font-size: 25px;
                }
            }
        }
    }

    h4, p {
        color: #ffffff;
        margin: 0;
    }

    p {
        font-size: 14px;
    }
}