#alternative-layout-container {
    margin-top: 90px;
}

#projects-container {
    padding-bottom: 30px;

    #project-heading {
        bottom: -130px;
        position: relative;

        h3 {
            display: inline-block;
            position: relative;

            &:after {
                background: #000000;
                content: "";
                display: block;
                height: 1px;
                position: relative;
                width: 100%;
            }
        }
    }

    .project {
        height: 750px;
        position: relative;

        .cell {
            height: 750px;
            position: relative;
        }

        .content-container {
            display: table;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .content {
            display: table-cell;
            position: relative;
            vertical-align: middle;
            z-index: 9;

            div {
                background: #ffffff;
                border-top: 5px solid #dbc997;
                padding: 60px;
            }
        }
    }
}

#contact-page-container {
    #contact-form-container {
        padding: 60px 0;
    }

    .field {
        margin-bottom: 15px;
    }

    input, textarea {
        background: none;
        border: none;
        border-bottom: 1px solid #000000;
        box-shadow: none;
        font-weight: 300;
        padding-left: 0;
        padding-right: 0;
        resize: none;

        &:focus {
            box-shadow: none;
            outline: none;
        }
    }

    input[type='submit'] {
        background: #000000;
        border: 1px solid #000000;
        color: #ffffff;
        cursor: pointer;
        font-size: 16px;
        padding: 15px 25px;
        transition-duration: .3s;

        &:hover {
            background: none;
            color: #000000;
            transition-duration: .3s;
        }
    }
}

body.about {
    overflow-x: hidden;

    #about-page-container {
        .featured-image {
            height: 750px;
            margin-bottom: 60px;
            position: relative;
        }

        img {
            transform: translate(-40%, 0%);
        }
    }

    #main-content, #additional-infos {
        margin-bottom: 60px;

        .additional-info {
            margin-bottom: 60px;
        }
    }
}