#projects-container {
    padding-bottom: 30px;

    #project-heading {
        bottom: -130px;
        position: relative;

        h3 {
            display: inline-block;
            position: relative;

            &:after {
                background: #000000;
                content: "";
                display: block;
                height: 1px;
                position: relative;
                width: 100%;
            }
        }
    }

    .project {
        height: 750px;
        position: relative;

        .cell {
            height: 750px;
            position: relative;
        }

        .content-container {
            display: table;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .content {
            display: table-cell;
            position: relative;
            vertical-align: middle;
            z-index: 9;

            div {
                background: #ffffff;
                border-top: 5px solid #dbc997;
                padding: 60px;
            }
        }

        .image-aside {
            bottom: 0;
            height: 100%;
            left: calc(30% - 970px / 2 + 15px + (970px / 12) * 9);
            position: absolute;
            right: 0;
            top: 0;

            .image-wrap {
                overflow: hidden;

                img {
                    height: 750px;
                    left: 50%;
                    max-width: none;
                    min-width: 100%;
                    min-height: 100%;
                    position: absolute;
                    top: 0;
                    transform: translate(-50%, 0%);
                    width: auto;
                }
            } 
        } 
    }
}


 