$hambgcolor: #000000;
$hambasewidth: 25px;
$hamsizemultiplier: 2;

body {
    background: #bfcad0;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;

    .mobile {
        display: none;
    }

    .page-header {
        margin-bottom: 30px;
    }

    p, li, span, label, input, a, textarea {
        color: #000000;
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #26282a;
       font-family: 'Julius Sans One', sans-serif;
        text-transform: uppercase;

        a {
            font-family: inherit;
            font-size: inherit;
            transition-duration: .3s;

            &:hover,
            &:focus,
            &:active {
                color: #6f7274;
            }
        }
    }

    .flexslider {
        background: none;
        border: none;
        padding-bottom: 30px;
    }
}

#menu-container {
    background: #dbc997;
    height: 75px;  
    position: fixed;
    right: 0;
    transform-origin: right top;
    transform: rotate(90deg) translateX(100%);
    top: 0;
    width: 100vh;  
    z-index: 99;

    ul {
        list-style: none;
        margin: 0;
    }

    li {
        float: left;
        height: 100%;
        line-height: 75px;

        a {
            color: #ffffff;
            display: block;
            padding: 0 30px; 
        }
    }

    li.current-menu-item a {
        background: #000000;
    }
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.image-aside {
    bottom: 0;
    height: 100%;
    left: calc(21% - 970px / 2 + 15px + (970px / 12) * 9);
    position: absolute;
    right: 0;
    top: 0;

    .image-wrap {
        overflow: hidden;

        img {
            height: 750px;
            left: 50%;
            max-width: none;
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top: 0;
            transform: translate(-50%, 0%);
            width: auto;
        }
    } 
}

.justified-center {
    justify-content: center;
}

.button {
    background: #000000;
    border: 1px solid #000000;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 25px;
    transition-duration: .3s;

    &:hover {
        background: none;
        color: #000000;
        transition-duration: .3s;
    }
}

#call-to-action-container {
    margin: 60px 0 90px;

    #call-to-action-content {
        background: #dfe5e8;
        padding: 60px;
        text-align: center;
    }
}

.hamburger {
  width: $hambasewidth * $hamsizemultiplier;
  height: 22.5px * $hamsizemultiplier;
  position: absolute;
  cursor: pointer;
  left: auto;
  right: 20px;
  margin-left: -($hambasewidth * $hamsizemultiplier) / 2;
  top: 110px;
  margin-top: -(22.5px * $hamsizemultiplier) / 2;
  z-index: 999999999;

  span {
    display: block;
    position: absolute;
    height: 1px * $hamsizemultiplier;
    width: 100%;
    background: $hambgcolor none repeat scroll 0% 0%;
    opacity: 1;
    right: 0px;
    transition: all 0.25s ease-in-out 0s;
    transform: rotate(0deg);

    &:nth-child(1) {
      margin-top: 0px;
    }
    &:nth-child(2) {
      margin-top: 8px * $hamsizemultiplier;
      margin-right: 0px;
    }
    &:nth-child(3) {
      margin-top: 16px * $hamsizemultiplier;
    }
  }
  &.opened {
    span {
      &:nth-child(1) {
        transform: rotate(135deg);
        margin-top: 8px * $hamsizemultiplier;
      }
      &:nth-child(2) {
        display: none;
        opacity: 0;
        right: -$hambasewidth * 3;
      }
      &:nth-child(3) {
        transform: rotate(-135deg);
        margin-top: 8px * $hamsizemultiplier;
      }
    }
  }
}


#additional-content-container {
    h4 {
        margin-bottom: 30px;
    }
}

.additional-content {
    margin-bottom: 30px;
}